<header>
  <link
    rel="stylesheet"
    href="css/style2.css"
    media="screen"
    type="text/css"
  />
  <div class="inner">
    <a href="https://alicjaciura.github.io/SampleGo/">
      <h1>SampleGo</h1>
    </a>
    <h2></h2>

    <a href="https://github.com/AlicjaCiura/SampleGo" class="button"
      ><small>View project on</small> GitHub</a
    >
  </div>
    <a href="/home" class="menu"> Home</a>
    <a href="/news" class="menu">News</a>
    <a href="/contact" class="button2">Contact</a>
    <a href="/about" class="button2">About</a>

</header>
