<header>
  <link rel="stylesheet" href="css/style2.css" media="screen" type="text/css" />
  <div class="inner">
    <a href="https://alicjaciura.github.io/SampleGo/">
      <h1>SampleGo</h1>
    </a>
    <h2></h2>

    <a href="https://github.com/AlicjaCiura/SampleGo" class="button"
      ><small>View project on</small> GitHub</a
    >

    <ul id="menu">
      <li><a href="/home" class="menu"> Home</a></li>
      <li><a href="/news" class="menu">News</a></li>
      <li><a href="/contact" class="menu">Contact</a></li>
      <li><a href="/about" class="menu">About</a></li>
    </ul>
  </div>
</header>
